body {
  background-image: url("bgcloud2.png");
  background-size: 120%;
}
div.id1 {
  display: table;
  margin: 0 auto;
}

body {
  padding-bottom: 50px;
  align-items: center;
  flex-direction: column;
  display: flex;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

.paragraph {
  text-align: center;
}
